
<article class="  col-md-9 clearfix" >  <!--dese el _proyect evitar q el side baje -->
	
		<div class="col-xs-12 text-center">
			<h1 > Projects</h1>
		</div>
		<div class="text-center">
			<%= will_paginate @proyects%>
		</div>
		<%= render @proyects %>
		<div class="text-center">
			<%= will_paginate @proyects%>
		</div>
	
</article>