/* --- Header --- */
.navbar{ /*Para quitar el margen por defecto del menu navbar*/
	margin-bottom: 0;
}

.jumbotron{
	background: #336666;
	color: #fff;
	padding: 20px 0px;
}

.margin-botom{
	margin-bottom: 3em;
}
.white
{
	color: white;
}
.red{
	color: red;
}
.green{
	color: green;
}
.blue{
	color: blue;
}
.actions{
	margin-top: 2em;
}
.file_input{
	margin-bottom: 3em;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #0BA463;
border-color: #0BA463;
}
/* --  POST  --*/
.pagination {
	margin: 8px 8px;
}

.main { /*agregamos marges*/
	margin-top: 20px;
	margin-bottom: 20px;
}
.show{
	margin-top: 2em;
}

.post{   /*separamos los post*/
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post .post-title a{
	color: #d63;
	
}

.post .thumb{         /*margen de los pst e imagen*/
	margin-right: 10px;
	width: 100%;
}


.post img{
	width: 100%;
}

.post .content-buttons{
	width: 100%;

}
.img-thumbnail{
	height: 200px;
}
.img-mini{
	height: 300px;
}
.img-medium{
	height: 500px;
}

.sidebar {
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  margin-top: 5.1px;
}




/**/

.login{
	margin-top: 10%;
}
/* --Media Querie --*/

@media screen and (max-width: 768px) {
	.post .thumb{
		width: 100%;
		margin-bottom 20px;
		margin-right: 0;
	}
}