<article class="post  col-md-9 clearfix" >
	<h1>New Category</h1>
	<%= render 'form' %>
	<div class="col-xs-12 text-center">
		<%= link_to 'Back', categories_path , class:"btn btn-warning"%>
	</div>
</article >